* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --white: #FFF;
}



body {
    display: flex;
    flex-direction: column;
}

.first-container {
    height: 120vh;
    border: 3px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 120vh;
    width: 100%;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 90%;
    height: 10%;
    position: absolute;
    top: 0px;
}

a {
    color: var(--white, #FFF);
    font-family: Vogue;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}

.child {
    width: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.svg-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 230px;
    left: 230px;
    color: var(--white, #FFF);
    font-family: Vogue;
    font-size: 90px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.child-container {
    width: 35%;
    height: 20vh;
    position: absolute;
    top: 620px;
    left: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-1, #D2CDCD);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.learn-more {
    border: 2px solid white;
    border-radius: 4px;
    width: 30%;
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.black-container {
    height: 60vh;
    border: 4px solid red;
}